* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 85%;
  margin: auto;
}
.row {
  display: flex;
  align-items: center;
}
.justy-sp-bwt {
  justify-content: space-between;
}
.justy-sp-around {
  justify-content: space-around;
}
nav {
  padding: 40px 0px;

}
nav a {
  color: aliceblue;
  text-decoration: none;
  padding: 0px 30px;
  font-size: 25px;
}
#header {
  background-image: url(assets/banner.png);
  /* background-image: url(assets/banner_with_theme.png); */
  background-size: cover;
  background-clip: border-box;
}
.col-50 {
  width: 50%;
}
.main-content{
    width: 60%;
    padding: 100px 0px;
}
h1 {
  font-size: 89px;
  color: #ffffff;
  font-family: "Abril Fatface";
}
h1 + p {
  font-size: 35px;
  color: #ffffff;
  font-family: "Montserrat";
  padding: 20px 0px 30px;
}
button {
  border-radius: 33px;
  background-color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 700;
  font-family: "Montserrat";
  padding: 15px 40px;
}
.wrapper{
    padding-bottom: 50px;
    background-image: linear-gradient(90deg, rgba(34,34,34,0.9999999999999999) 0%, rgba(34,34,34,0.9999999999999999) 38%, rgba(34,34,34,0) 100%);
}



/* section-menu */


#section-menu{
  background-color: #222222;
  text-align: center;
  color: #ffffff;


}
.section-menu-wrapper{
  padding: 50px;
  position: relative;
}
div[class*="card"]{
  padding: 50px 0px;
}

.menu-content{
  width: 70%;
  margin: auto;
  padding: 0px 30px ;


}
h2{
  font-size: 64px;
  font-family: "Abril Fatface";
}
h2+p{
  font-size: 30px;
  font-family: "Montserrat";
  padding-top: 20px;


}
.col-33{
  width: 33%;
}
h5{
  font-size: 28px;
  font-weight: 700;
  font-family: "Montserrat";
  padding-top: 10px;
}
h5+p{
  font-size: 17px;
  font-family: "Montserrat";
  padding: 10px 55px;
}


/* Position Concept In Section Menu  */

.posi-ab-menu{
  width: 100px;
  position: absolute;

}
.l-1{
  top: 30px;
  left: -30px;
}
.l-2{
  top: 30px;
  left: 200px;
}
.l-3{

}
.l-4{

}
.l-5{

}
.r-1{

}
.r-2{

}
.r-3{

}
.r-4{

}
.r-5{

}
